.edu-display-content{
   
    border: 2px solid rgb(167, 167, 167);
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
    padding: 2rem;
}

.edu-line1{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
    
}

.edu-form{
    width: 32.1rem;
}

.edu-input-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gray;
}

.edu-header-btns{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 2.8rem;
}

.edu-items-container{
    padding-top: 1rem;
    border: 2px solid gray;
    border-top: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 1rem;
}

.edu-inputs{

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 1rem;
    width: 30rem;

}

.edu-plus-icon{
    filter: invert(1);
    width: 1.5rem;
    height: 1.5rem;
}

.edu-icon{
    width: 2rem;
    position: relative;
    top: 0.5rem;
    margin-right: 1rem;
}

.edu-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    gap: 5rem;
    margin: 1rem;
}

.edu-item-name{
    width: 10rem;
}