.edu-display-content{
   
    border: 2px solid rgb(167, 167, 167);
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
    padding: 2rem;
    padding-bottom: 0px;
}

.edu-line1{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
    
}

.edu-form{
    width: 32.1rem;
}

.edu-input-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    padding-bottom: 2rem;
}

.edu-input-header > * {
    position: relative;
    top: 1rem;
}


.edu-inputs{

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 1rem;
    width: 30rem;

}


.edu-del-icon{
    filter: invert(1);
    font-size: 0.1rem;
    
}

.edu-edit-icon{
    filter: invert(1);
    
    font-size: 0.1rem;
}



.edu-buttons2{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    position: relative;
    left: 1.5rem;
}


.edu-school-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.edu-item-name{
    font-size: 1.2rem;
    font-weight: bold;
}