.general-inputs, .general-divs{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(137, 137, 137);
    border: 1px solid;
    padding: 1rem;
    width: 30rem;

}

.input-label{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 15rem;
}

.general-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}


.general-info-data{
    text-align: center;
    padding: 0.5rem;
    background-color: var(--secondary-color);
}

.general-divs h3{
    font-size: 14px;
}

.general-info-data h1, .general-info-data h3{
    color: white;
    font-weight: bold;
}
.general-divs h3 div{
    font-size: 16px;
    margin-top: 10px;
}

.general-icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.gen-icon-container{
    display: flex;
    
    align-items: center;
}
