.general-inputs, .general-divs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    border: 2px solid;
    padding: 1rem;
}

.input-label{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 15rem;
}

.general-info-container{
    display: flex;
    justify-content: space-around;
}


.display-data{
    
}

.general-info-data{
    text-align: center;
    border: 10px solid;
    flex: 1;
    height: 200px;
    background: linear-gradient(rgb(73, 0, 181), rgb(62, 5, 77));
}

.general-divs h3{
    font-size: 14px;
}

.general-info-data h1, .general-info-data h3{
    color: white;
    font-weight: bold;
}
.general-divs h3 div{
    font-size: 16px;
    margin-top: 10px;
}