:root{
    --main-color: #118b7c;
    --secondary-color: #0e8275;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    font-family:  Arial, sans-serif;
}

input{
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;

}

button{
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: var(--secondary-color);
}

.icon{
    width: 1.5rem;
    
    filter: invert(1);
    margin-right: 5px;
}

.display-data{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    

}



.inputs-data{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.div-icon{
    width: 2.5rem;
}

.swap-icon{
    width: 1.7rem;
    filter: invert(1);
}

.general-divs h1, .general-inputs h1{
    display: flex;
    
    justify-content: space-between;;
    align-items: center;
}




.header{
    text-align: center;
    color: var(--main-color);
    text-shadow: 1px 1px 1px var(--secondary-color);
}

.section-name{
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;

}

.section-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-button{
    width: 5rem;
    height: 2.5rem;
    margin: auto;
}

.school-name, .company-name{
    font-size: 1.4rem;

}


.job-title, .title-of-study, .date{
    font-weight: normal;
}


li{
    list-style-type: none;
}


.edit-btn{
   height: 3rem;
    width: 3rem;
    background-color: rgb(27, 90, 199); 
}

.edit-btn:hover{
    background-color: rgb(24, 73, 159); 
}

.delete-btn{
    height: 3rem;
    width: 3rem;
    background-color: rgb(199, 27, 27);
}

.delete-btn:hover{
    background-color: rgb(167, 4, 4);
}


.plus-btn{
    background-color: rgb(46, 47, 46);
}

.plus-btn:hover{
    background-color: rgb(56, 56, 56);
}

.plus-icon{
    filter: invert(1);
    width: 2rem;
    height: 1.7rem;

}


.mini-icon{
    width: 2rem;
    position: relative;
    left: 1rem;
     margin-right: 2.5rem;
}

.header-btns{
    display: flex;
    gap: 1.1rem;
    position: relative;
    right: 1rem;
}



.list-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    gap: 5rem;
    margin: 1rem;
}

.item-name{
    width: 10rem;
    font-weight: bold;
}


.items-container{
    padding-top: 1rem;
    border: 2px solid gray;
    border-top: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 1rem;
}

.right-div{
    max-width: 30%;
    position: relative;
    right: 0.5rem;
}




@media (max-width: 479px){

    html{
        font-size: 60%;


    }
    .general-info-container{
        flex-direction: column;
        gap: 2rem;
        
        
        
    }
    .inputs-data{
        margin-left: 0px;
        
        justify-content: center;
        align-items: center;
    }
    .header{
        width: 100%;
    }
    .display-data{
        

        margin: 0 auto;
    }
    .edu-buttons2{
        left: 1rem !important;
    }
    .gen-icon-container{
        flex-direction: column;
    }

    
}

@media (min-width: 480px) and (max-width: 767px){
    
    html{
        font-size: 70%;
    }
    .general-info-container{
        flex-direction: column;
        gap: 2rem;
    }
    .inputs-data{
        margin-left: 0px;
        
        justify-content: center;
        align-items: center;
    }
    .header{
        width: 100%;
    }
    .display-data{
        

        margin: 0 auto;
    }
    .edu-buttons2{
        left: 1.2rem !important;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    html{
        font-size: 80%;
    }
    .general-info-container{
        flex-direction: column;
        gap: 2rem;
    }
    .inputs-data{
        margin-left: 0px;
        
        justify-content: center;
        align-items: center;
    }
    .header{
        width: 100%;
    }
    .display-data{
        

        margin: 0 auto;
    }
    .edu-buttons2{
        left: 1.3rem !important;
    }



}

@media (min-width: 992px) and (max-width: 1200px){
     html{
        font-size: 90%;
    }
    .general-info-container{
        gap: 2rem;
    }
    .inputs-data{
        margin-left: 2rem;
        position: relative;
        top: 2rem;
        align-items: center;
    }
    .header{
        width: 100%;
    }
    .display-data{
       
        

        margin: 0 auto;
    }
    .edu-buttons2{
        left: 1.4rem !important;
    }

}

@media (min-width: 1200px){
      html{
        font-size: 95%;
    }
    .general-info-container{
        gap: 2rem;
    }
    .inputs-data{
        margin-left: 2rem;
        align-items: center;
    }
    .header{
        width: 100%;
    }
    .display-data{
       
        margin: 0 auto;
    }
    .edu-buttons2{
        left: 1.4rem !important;
    }

}
.download-button{
    margin: auto;
    display: flex; 
    justify-content: end;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 1rem;
}