:root{
    --main-color: #be185d;
    --secondary-color: #98134a;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    font-family: Arial, sans-serif;
}

input{
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;

}

button{
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: var(--secondary-color);
}

.icon{
    width: 1.5rem;
    position: relative;
    top: 5px;
    filter: invert(1);
    margin-right: 5px;
}

.display-data{
    width: 50rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

}

.general-inputs{
    width: 18rem;
}

.inputs-data{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.div-icon{
    width: 2.5rem;
}

.swap-icon{
    width: 1.7rem;
    filter: invert(1);
}

.general-divs h1{
    display: flex;
    
    justify-content: space-between;;
    align-items: center;
}

.header{
    text-align: center;
    color: var(--main-color);
    text-shadow: 1px 1px 1px var(--secondary-color);
}

.section-name{
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;

}